// Google font
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
// Sass variables
$main-font: 'Permanent Marker',
cursive;
// Universal styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/nathan-dumlao-87r__24oABU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    height: 675px;
    // background-color: red;
    margin: 10px;
    #drum-machine {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // Drum sound display container
        .display-container {
            display: flex;
            flex-direction: column;
            height: 50%;
            width: 65%;
            justify-content: flex-start;
            align-items: center;
            background-image: url(../public/marjan-blan-marjanblan--Vc-ok8CeBU-unsplash.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            .header {
                background-image: url(../public/Duct-Tape.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                text-align: center;
                height: 113px;
                width: 100%;
                margin-top: -3.125rem;
                z-index: 1;
                h1 {
                    font-size: 1.5rem;
                    transform: rotate(-10deg);
                    margin-top: 35px;
                }
            }
            #display {
                padding-top: 35%;
                font-size: 1.3rem;
            }
        }
        // Drum pads container
        .drum-container {
            display: grid;
            grid: 1fr / auto auto auto;
            gap: 0.5rem;
            margin: 0.5rem;
            padding: 0.5rem;
            justify-content: center;
            // Blur background
            background: #ffffff1a;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 30px #0000002a;
            border-radius: 3px;
            border-width: 1px;
            .drum-pad {
                cursor: pointer;
            }
        }
    }
}