// Google font
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
// Sass variables
$main-font: 'Permanent Marker',
cursive;
// Universal styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

html {
    // stretch to the full minimal viewport height
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/nathan-dumlao-87r__24oABU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    height: 500px;
    margin: 10px;
    @media only screen and (min-width: 695px) {
        width: 675px;
    }
    @media only screen and (max-width: 694px) {
        height: 675px;
    }
    @media only screen and (max-width: 386px) {
        justify-content: center;
        margin: 5px;
    }
    #drum-machine {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @media only screen and (max-width: 694px) {
            flex-direction: column;
        }
        @media only screen and (max-width: 386px) {
            width: 85%;
        }
        // Drum sound display container
        .display-container {
            display: flex;
            flex-direction: column;
            height: 65%;
            width: 50%;
            justify-content: flex-start;
            align-items: center;
            background-image: url(../public/marjan-blan-marjanblan--Vc-ok8CeBU-unsplash.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            @media only screen and (max-width: 386px) {
                height: 50%;
                width: 60%;
            }
            .header {
                background-image: url(../public/Duct-Tape.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                text-align: center;
                height: 95px;
                width: 100%;
                margin-top: -3.125rem;
                z-index: 1;
                @media only screen and (max-width: 694px) {
                    height: 113px;
                }
                @media only screen and (max-width: 386px) {
                    margin-top: -2.125rem;
                }
                h1 {
                    font-size: 1.3rem;
                    transform: rotate(-10deg);
                    margin-top: 30px;
                    @media only screen and (max-width: 694px) {
                        font-size: 1.375rem;
                        margin-top: 37px;
                    }
                    @media only screen and (max-width: 386px) {
                        font-size: 1.3rem;
                    }
                }
            }
            #display {
                padding-top: 30%;
                font-size: 1.3rem;
            }
        }
        // Drum pads container
        .drum-container {
            display: grid;
            grid: 1fr / auto auto auto;
            gap: 0.5rem;
            margin: 0.5rem;
            padding: 0.5rem;
            justify-content: center;
            // Blur background
            background: #ffffff1a;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 30px #0000002a;
            border-radius: 3px;
            border-width: 1px;
            @media only screen and (max-width: 386px) {
                margin: 0.2rem;
                padding: 0.2rem;
            }
            .drum-pad {
                cursor: pointer;
            }
        }
    }
}